@tailwind base;
@tailwind components;
@import url(./Carousel.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  user-select: none;
}
.shadowbox {
  box-shadow: 51px 51px 132px -16px rgb(49 51 114 / 12%);
}
@font-face {
  font-family: "safi";
  src: url(../public/assets/fonts/satoshi/Fonts/WEB/fonts/Satoshi-Variable.ttf)
      format("truetype"),
    url(../public/assets/fonts/satoshi/Fonts/WEB/fonts/Satoshi-Variable.woff)
      format("woff"),
    url(../public/assets/fonts/satoshi/Fonts/WEB/fonts/Satoshi-Variable.woff2)
      format("woff2");
}
@font-face {
  font-family: "inters";
  src: url(../public/assets/fonts/inter/Inter-Regular.ttf);
  /* src: url(../public/assets/fonts/inter/Inter-Medium.ttf); */
}
html,
body {
  @apply font-inters;
}
.satoshi {
  @apply font-safi;
}
.gradient-text {
  background: linear-gradient(
    259.1deg,
    #00b3ff 0%,
    #1579ff 26.56%,
    #00b3ff 68.75%,
    #293fff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.bg-gradient {
  background: linear-gradient(
    259.1deg,
    #00b3ff 0%,
    #1579ff 26.56%,
    #00b3ff 68.75%,
    #293fff 100%
  );
}
.bg-gradient1 {
  background: linear-gradient(90.89deg, #002d6a 14.44%, #0072ff 89.6%);
}
select {
  background: url(../public/assets/icons/arrow-da.svg) no-repeat left;
  -webkit-appearance: none;
  background-position-x: calc(100% - 2rem);
}
.body h3 {
  font-family: "Satoshi", sans-serif;
  @apply text-primaryBlack text-[2rem] font-[700] leading-[3rem];
}
.body p,
.body li {
  @apply text-secondaryGray text-[1.6rem] font-[400] leading-[150%];
}
.body {
  @apply pb-[5rem];
}
.text ol {
  @apply flex flex-col gap-[2rem];
}
.body a {
  color: #00b3ff;
  border-bottom: 1px solid #00b3ff;
}
.body ul {
  @apply list-disc pl-[3rem];
}
.body h2 {
  @apply text-primaryBlack font-safi text-[2.4rem] font-700;
}
.middle {
  @apply flex justify-center items-center;
}
.body ol em {
  font-style: normal;
  @apply text-primaryBlack font-[600];
}
.body strong {
  @apply text-[#0A2540];
}
.middle-col {
  @apply flex flex-col justify-center items-center;
}
.o--Widget--popupBg {
  z-index: 9999999999999999 !important;
}

.swiper-button-prev {
  left: 0;
  transform: translateX(-50%);
}

.swiper-button-next {
  right: 0;
  transform: translateX(50%);
}

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: clip;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.three-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: clip;
  -webkit-line-clamp: 3;
  line-clamp: 3 !important;
  /* max-height: 6.9rem; */
}
.one-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: clip;
  -webkit-line-clamp: 1;
  line-clamp: 1 !important;
  /* max-height: 6.9rem; */
}
.text16-gray {
  @apply text-secondaryGray text-[1.6rem] font-400 leading-[150%];
}

.scroll::-webkit-scrollbar {
  width: 0px;
}

.scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.o--Button--btn {
  background: linear-gradient(
    259.1deg,
    #00b3ff 0%,
    #1579ff 26.56%,
    #00b3ff 68.75%,
    #293fff 100%
  ) !important;
  @apply !w-full !rounded-full;
}
.o--App--authWidget {
  @apply !rounded-[2.4rem] overflow-hidden sm:!mx-[2rem];
}
.o--Button--children {
  @apply !text-[#fff];
}
.o--App--profileWidget {
  @apply !rounded-[2.4rem];
}
.red {
  @apply !bg-[#000] !bg-gradient-to-r !from-red-500 !to-red-500 !border-none;
}
.o--Input--input,
.o--Select--select,
.o--PaymentInputStripe--stripe {
  @apply !rounded-full !bg-[#EEF2F6] !border-[1px] !border-border2;
}
.o--Label--label,
.o--Widget--widget h1 {
  @apply font-safi;
}
#signup-embed {
  @apply w-full;
}
.o--header {
  @apply !hidden;
}
.roadmap {
  @apply !py-[0rem];
}
.roadmap:first-child {
  @apply !pt-[2rem];
}
.contain {
  contain: paint;
}
@media screen and (min-width: 2561px) {
  html {
    font-size: 75%;
  }
}
@media screen and (max-width: 1920px) {
  .uitemphome a:nth-child(4) {
    display: none;
  }
  .uiuxhome a:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 1365px) {
  .uitemphome a:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  .uiuxhome a:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .uitemphome a:nth-child(2) {
    display: none;
  }
}
@tailwind utilities;
