@tailwind base;
@tailwind components;
@import url(./Carousel.css);
 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.shadowbox {
  box-shadow: 51px 51px 132px -16px rgb(49 51 114 / 12%);
}
@font-face {
  font-family: 'safi';
  src: url(../public/assets/fonts/satoshi/Fonts/WEB/fonts/Satoshi-Medium.ttf);
}
@font-face {
  font-family: 'inters';
  src: url(../public/assets/fonts/inter/Inter-Regular.ttf);
  /* src: url(../public/assets/fonts/inter/Inter-Medium.ttf); */
}
html,
body {
  @apply font-inters;

}
.satoshi {
  @apply font-safi;
}
.gradient-text {
  background: linear-gradient(
    259.1deg,
    #00b3ff 0%,
    #1579ff 26.56%,
    #00b3ff 68.75%,
    #293fff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.bg-gradient {
  background: linear-gradient(
    259.1deg,
    #00b3ff 0%,
    #1579ff 26.56%,
    #00b3ff 68.75%,
    #293fff 100%
  );
}
select {
  background: url(../public/assets/icons/arrow-da.svg) no-repeat left;
  -webkit-appearance: none;
  background-position-x: calc(95% + -2rem);
}
.body h3 {
  font-family: "Satoshi", sans-serif;
  @apply text-primaryBlack text-[2rem] font-[700] leading-[3rem];
}
.body p,
.body li {
  @apply text-secondaryGray text-[1.6rem] font-[400] leading-[150%];
}
.body{
  @apply pb-[5rem]
}
.text ol {
  @apply flex flex-col gap-[2rem]
}
.body a {
  color: #00b3ff;
  border-bottom: 1px solid #00b3ff;
}
.body ul {
  @apply list-disc pl-[3rem];
}
.body h2{
  @apply text-primaryBlack satoshi text-[2.4rem] font-700
}
.middle {
  @apply flex justify-center items-center;
}
.body ol em {
  font-style: normal;
  @apply text-primaryBlack font-[600]
}
.body strong{
  @apply text-[#0A2540]
}
.middle-col {
  @apply flex flex-col justify-center items-center;
}


.two-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: clip;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.text16-gray{
  @apply text-secondaryGray text-[1.6rem] font-400 leading-[150%]
}
@tailwind utilities;
